<h2 style = 'color: FireBrick' class = 'page-header'>Dashboard</h2>

<i style = 'color: DimGrey'>Welcome to your Dashboard!</i> <br/><br/>

<p>‘Growing Happiness’ is progressive indulgence in the former. For latter are the traps laid to lure you away from your simple & linear road to real happiness. Took me so many years to understand this simple difference between ‘Intimate Acts’ & ‘Illusory Escapes’ & the fact that former can make my weary mind levitate and latter usually would make it gravitate.<br/><br/>

How to be Happy in today’s times? Like a Drug Dealer- keep on silently and secretly gathering the former while hoodwinking the latter. The sooner you start doing THIS in your Life- the sooner you’ll become a Happy Guy’.  And when you are even 25% on this road; you shall know that you ARE becoming a Happy Guy’. On this highway- more than Will-Power, you shall need the Won’t Power i.e. having the guts to say a NO to the latter while keeping on tapping into the former.<br/><br/>

As Buddha said- ‘There is no way to Happiness. Happiness is THE WAY‘. Become therefore, the drug dealer of happiness. A mafia lord – maybe in time :). Give your people a shock of their life by becoming that. For the best thing that you can bring into any relationship – is your own happiness.</p>
